

@font-face {
  font-family: Bukhari;
  src: url(/public/Bukhari.ttf);
}

@font-face{
  font-family: Alkatra;
  src: url(/public/Alkatra.ttf);
}

h1,h2,h3,h4{
  font-family: Alkatra;
}

p{
  font-family: Alkatra;
}

/*------Register Form-----*/
.RegForm{
  text-align: center;
  margin: 150px;
  font-family: Alkatra;
}

.RegForm input{
  width: 300px;
  
}

.RegForm button{
  border-radius: 10px;
  
}

.RegForm .alert{
  font-size: 25px;
  color: red;
  text-decoration-line:underline;
  
}

/*------Login From-----*/
.LogForm{
  text-align: center;
  margin: 200px;
  font-family: Alkatra;
}

.LogForm form{
  
  padding: 10px;
}

.LogForm input{
  width: 300px;
  margin: 10px;
}


.LogForm button{
  border-radius: 10px;
  
}

.LogForm .alert{
  font-size: 25px;
  color: red;
  text-decoration-line:underline;
  
}

/*Navbar*/

.header{
  border-bottom: 2px solid #8aecff;
  font-family: Alkatra;
  font-size: 19px;
}

.header button{
  color: rgb(255, 0, 0);
  border: 0;
  border-bottom: 10px;
  margin-right: 50px;
  background-color: white;
  
}

.header .profile{
  font-size: 22px;

}

/*-----Calorie Calculator*/

.kaloria{
  text-align: center;
  margin: 60px;
}

.kaloria p{
  font-size: 20px;
}

.kaloria h2{
  padding: 20px;
  font-size: 40px;
}

.kaloria span{
  color:dodgerblue;
}

.kaloria form{
  box-shadow: 1px 1px 9px black;
  border-radius: 5px;
  padding: 50px;
}

.kaloria button{
  margin-top: 20px;
  border-radius: 5px;
  font-family: Alkatra;
  font-size: 19px;
}

.kaloria .title{
  border-bottom: 2px solid black;
}

/*-----BMI Page-----*/

.BMIPage {
  text-align: center;
  margin: 60px;
}

.BMIPage form{
  box-shadow: 1px 1px 9px black;
  padding: 50px;
  
  
}

.BMIPage input {
  padding-right: auto;
}

.BMIPage p {
  margin-left: 10px;
}

.BMIPage button{
  margin: 5px;
  border-radius: 5px;
  font-family: Alkatra;
  font-size: 19px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
  
}

.BMIinput{
  text-align: center;
  margin: 100px;
}


/*-----Home Page-----*/

.fooldal{
  text-align: center;
}


.izmok{
  align-items: center;
  text-align: center;
  margin: 40px;
}

.izmok .conatiner{
  padding: 10px;
}

.izmok .col-8{
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}

.izmok .col-8 p{
  text-align: left;
  margin: 5px;
  font-size: 18px;
}

.izmok img{
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}

.izmok button{
  margin: 5px;
  border-radius: 5px;
}

.izmok .Link{
  text-decoration: none;
}

/*-----Arm Page-----*/

.arms{
  text-align: center;
}

.arms p{
  font-size: 18px;
}

.arms img{
  width: 30%;
  
}

.arms h2{
  text-align: center;
}

.parallax1 {
  background-image: url(/src/Images/pralarax.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  color: white;
}

.arms .col-6{
  box-shadow: 1px 2px 9px black;
}

.arms img{
  width: 20%;
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}



/*-----Biceps Page-----*/

.parallax{
  background-image: url(/src/Images/hatter.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  color: white;
}

.armPage{
  text-align: center;
}

.armPage p{
  font-size: 18px;
  text-align: left;
  margin: 5px;
}

.gyakorlatok .col-5{
  box-shadow: 1px 2px 9px black;
  padding-top: 60px;
}

.gyakorlatok{
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  font-size: 18px;
  text-align:left;
}



/*-----About us Page-----*/

.Aboutus h1{
  text-align: center;
}

.Aboutus .conatiner{
  padding: 20px;
  margin: 50px;
}

.Aboutus p{
  font-size: 19px;
}

.Aboutus img{
  width: 70%;
  text-align: center;
}

.Aboutus .col-5{
  box-shadow: 1px 1px 9px black;
}

/*-----Porfile Page------*/

.Profile{
  text-align: center;
  font-family: Alkatra;
}

.Profile .link{
  font-size: 30px;
  text-decoration: none;
  color: #77c3ec;
}

.Profile p{
  font-size: 15px;
}

.Profile{
  margin: 50px
}

.Profile img{
  width: 30%;
  margin: 50px;
}

.userData p{
  font-size: 25px;
}

.userData .col-5{
  box-shadow: 1px 1px 9px black;
  padding: 30px;
}

.userData .col-5 img{
  margin-left: 60px;
  width: 70%;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.userData .col-6{
  box-shadow: 1px 1px 9px black;
  padding: 30px;
  margin-left: 30px;
  width: 50%;
}
.userData h1{
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 30px;
}

.userData{
  margin: 40px;
}

.popup{
  height: 400px;
  width: 50%;
  background-color: #77c3ec;
  position: absolute;
  top: 25%;
  right: 25;
}

.popup-header{
  display: flex;
  justify-content: space-between;
  padding:0 30px 0 15px;
  border-bottom: 2px solid black;
}
