

@font-face {
  font-family: Bukhari;
  src: url(/public/Bukhari.ttf);
}

@font-face{
  font-family: Alkatra;
  src: url(/public/Alkatra.ttf);
}

h1,h2,h3,h4{
  font-family: Alkatra;
}

p{
  font-family: Alkatra;
}

/*------Register Form-----*/
.RegForm{
  text-align: center;
  margin: 150px;
}

.RegForm input{
  border-radius: 5px solid ;
  width: 300px;
  
}

.RegForm button{
  border-radius: 10px;
  
}

/*------Login From-----*/
.LogForm{
  text-align: center;
  margin: 200px;
}

.LogForm input{
  border-radius: 10px solid;
  width: 300px;
  margin: 10px;
  
}


.LogForm button{
  border-radius: 10px;
  
}

/*Navbar*/

.header{
  border-bottom: 2px solid #8aecff;
}

/*-----BMI Page-----*/

.BMIPage {
  text-align: center;
  margin: 60px;
}

.BMIPage input {
  padding-right: 10px;
}

.BMIPage p {
  margin-left: 10px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}


/*-----Home Page-----*/

.fooldal{
  text-align: center;
}


.izmok{
  align-items: center;
  text-align: center;
  margin: 50px;
}

.izmok .col-8{
  border: 5px solid black;
}

.izmok .col-8 p{
  text-align: left;
  margin: 5px;
  font-size: 18px;
}

.izmok img{
  width: 30%;
}

.izmok button{
  margin: 5px;
  border-radius: 5px;
}

.izmok .Link{
  text-decoration: none;
}

/*-----Arm Page-----*/

.arms{
  text-align: center;
}

.arms p{
  font-size: 18px;
}

.arms img{
  width: 30%;
  
}

.arms h2{
  text-align: center;
}



/*-----Biceps Page-----*/

.parallax{
  background-image: url(/src/Images/hatter.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  color: white;
}

.armPage{
  text-align: center;
}

.armPage p{
  font-size: 18px;
  text-align: left;
  margin: 5px;
}

.gyakorlatok{
  border: 3px solid black;
  border-radius: 10px;
  margin: 100px;
  font-size: 18px;
  text-align:left;
}

.gyakorlatok .col-4{

  
}

