

@font-face {
  font-family: Bukhari;
  src: url(/public/Bukhari.ttf);
}

@font-face{
  font-family: Alkatra;
  src: url(/public/Alkatra.ttf);
}

h1,h2,h3,h4{
  font-family: Alkatra;
}

p{
  font-family: Alkatra;
}

/*------Register Form-----*/
.RegForm{
  text-align: center;
  margin: 150px;
}

.RegForm input{
  width: 300px;
  
}

.RegForm button{
  border-radius: 10px;
  
}

/*------Login From-----*/
.LogForm{
  text-align: center;
  margin: 200px;
}

.LogForm form{
  box-shadow: 1px 2px 9px black;
  padding: 10px;
}

.LogForm input{
  width: 300px;
  margin: 10px;
}


.LogForm button{
  border-radius: 10px;
  
}

/*Navbar*/

.header{
  border-bottom: 2px solid #8aecff;
  font-family: Alkatra;
  font-size: 19px;
}

.header button{
  color: rgb(255, 0, 0);
  border: 0;
  border-bottom: 10px;
  
  background-color: white;
  
}

/*-----BMI Page-----*/

.BMIPage {
  text-align: center;
  margin: 60px;
}

.BMIPage input {
  padding-right: 10px;
}

.BMIPage p {
  margin-left: 10px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}


/*-----Home Page-----*/

.fooldal{
  text-align: center;
}


.izmok{
  align-items: center;
  text-align: center;
  margin: 50px;
}

.izmok .conatiner{
  padding: 10px;
}

.izmok .col-8{
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}

.izmok .col-8 p{
  text-align: left;
  margin: 5px;
  font-size: 18px;
}

.izmok img{
  width: 50%;
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}

.izmok button{
  margin: 5px;
  border-radius: 5px;
}

.izmok .Link{
  text-decoration: none;
}

/*-----Arm Page-----*/

.arms{
  text-align: center;
}

.arms p{
  font-size: 18px;
}

.arms img{
  width: 30%;
  
}

.arms h2{
  text-align: center;
}

.parallax1 {
  background-image: url(/src/Images/pralarax.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  color: white;
}

.arms .col-6{
  box-shadow: 1px 2px 9px black;
}

.arms img{
  width: 20%;
  border-radius: 5px;
  box-shadow: 1px 2px 9px black;
}



/*-----Biceps Page-----*/

.parallax{
  background-image: url(/src/Images/hatter.png);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  color: white;
}

.armPage{
  text-align: center;
}

.armPage p{
  font-size: 18px;
  text-align: left;
  margin: 5px;
}

.gyakorlatok .col-5{
  box-shadow: 1px 2px 9px black;
  padding-top: 60px;
}

.gyakorlatok{
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  font-size: 18px;
  text-align:left;
}

.gyakorlatok .col-4{

  
}

